@charset "UTF-8";

/* Aparelho deitado (landscape) */

body{
    background: url(/Exercícios/ex026/imagens/cev-landscape.jpg) no-repeat;
    background-size: contain;
    background-position: left bottom;
}