@charset "UTF-8";

/* Aparelho em pé (portrait) */

body{
    background: url(/Exercícios/ex026/imagens/cev-portrait.jpg) no-repeat;
    background-size: contain;
    background-position: center bottom;
}