@charset "UTF-8";

body{
    background-color: #D1FAB0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #748B62;
}

#principal {
    text-align: center;
    background-color:#58694A;
    color: white;
}

h2{
    color: #91AD79;  
}

.basico{
    color: green;
    font-weight: 800;
}

.intermediario{
    color: yellow;
    font-weight: 800;
}

.avancado{
    color: red  ;
    font-weight: 800;
}