@charset "UTF-8";

/* PALETA DE CORES

VERDE: #49a09d
LILÃS: #5f2c82

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body,html {
    background-color: #5f2c82 ;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 256px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#imagem{
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;
}

#formulario{
    display: block;
    padding: 10px;
}

#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p{
    font-size: 0.8em;
}

.campo{
    background-color:  #5f2c82;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 5px;
    margin: 5px 0px;
    
}

.campo > label{
    display: none;
}

input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #367876 ;
}

.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: #59c2bf;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    color: #367876;
}

.botao:hover{
    background-color: white;
}


.botao > span{
    font-size: 0.8em;

}